.tip_text {
    line-height: 4px;
    color: #999999;
    font-size: 14px;
  }
.foot {
    margin-top: 40px;
    text-align: center;
    height: 60px;
}
.btn{
      margin-top: 12px;
}
.button-box{
      width: 980px;
      height: 40px;
      text-align: right;
      background:rgba(1, 124, 255, 0.09) ;
      line-height: 2px;
      padding: 0 12px;
}
.select-box {
    width: 100%;
    height: 40px;
    background: rgba(1, 124, 255, 0.09);
    border: 1px solid #017cff;
    display: flex;
    padding: 0 23px 0 23px;
    line-height: 40px;
    justify-content: space-between;
}
.normal-button{
  width: 88px;
height: 32px;
background: rgba(1, 124, 255, 0.09);
border-radius: 2px;
border: 1px solid #017CFF;
color: #017CFF;
}
  
     .btn-box {
       display: flex;

     }
     .btn_pic {
      .pic {
        line-height: 15px;
        margin-right: 6px;
        margin-bottom: -2.5px;
      }
    }
